<div class="hidden">
	<img src="http://www.placelocal.com/retarget_pixel.php?cid=442960" width="1" height="1" />
</div>
<script src="resources/js/production.min.js"></script>
<script>
$(document).ready(function() {
  $('.how-it-works').magnificPopup({type:'iframe'});
  $('.how-it-works2').magnificPopup({type:'iframe'});
});
</script>
<!-- GOOGLE ANALYTICS -->
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73828118-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>