<footer class="mainfooter">
            <div class="row-fluid wrap">
                <div class="span3">
                    <img src="resources/img/footerLogo.png" alt="">
                    <ul class="social">
                        [[$social-links]]
                    </ul>
                </div>
                <div class="span3 offset1">
                    <h4>Foundation Repair</h4>
                    [[Wayfinder? 
                        &level=`1`
                        &startId=`2`
                        &innerTpl=`nav-innner`
                        &outerTpl=`nav-outer`
                        &sortBy=`menuindex`

                        ]]
                </div>
                <div class="span3">
                    <h4>Commercial Foundations</h4>
                    [[Wayfinder? 
        &level=`1`
        &startId=`3`
        &innerTpl=`nav-innner`
        &outerTpl=`nav-outer`
        &sortBy=`menuindex`

        ]]
                </div>
                <div class="span2">
                    <h4><a href="/testimonials">Testimonials</a></h4>
                    <h4><a href="/about-us">About Us</a></h4>
                    <!-- <h4><a href="/service-area">Service Area</a></h4> -->
                    <h4><a href="/contact">Contact</a></h4>
                    <h4><a href="#quote" data-target="modal" class="quote">Free Quote</a></h4>
                </div>
            </div>
            <div class="row-fluid wrap">
            <hr>
                
                <p>[[++site_name]] | [[++address:notempty=`[[++address]] |`]] [[++primary_telephone]]<br>
                    &copy;[[!getDate:date=`%Y`]] [[++site_name]] - All Rights Reserved</p>
            </div>
        </footer>