<section class="hero" style="background-image:url('[[*header-image]]')">
                            <div class="row-fluid wrap">
                                <div class="span7">
                                    <h1>[[*pagetitle]]</h1>
                                    [[*intro-content]]
                                    
                                </div>
                            </div>
                        </section>