<nav class="mainnav" >
    <div class="row-fluid wrap">
        <div class="logo"><a href="/"><img src="resources/img/logo.jpg" alt=""></a></div>
            
        
            <div id="mobile-menu">
            [[Wayfinder? 
                    &level=`2`
                    &startId=`0`
                    &innerTpl=`nav-inner`
                    &outerTpl=`nav-outer`
                    &parentRowTpl=`nav-parent`
                    &sortBy=`menuindex`
                    &excludeDocs=`` 
                    &titleOfLinks=`menutitle`
                ]]
        </div>
        
               

                

    </div>

    </div>
</nav>