<section class="quoteBar">
                            <div class="row-fluid wrap">
                                <div class="span8">
                                    <h1>Fast and Reliable Service</h1>
                                    <p>Contacting us today is the first step to solving your foundation problems!</p>
                                </div>
                                <div class="span4"><a href="#quote" data-toggle="modal" class="button">Get a quote</a></div>
                            </div>
                        </section>