<div class="tophat">
    <div class="row-fluid wrap">
        
        <ul class="tophatNav">
            <li><a href="tel:[[++primary_telephone]]" class="ico-phone">[[++primary_telephone]]</a></li>
            <li class="hidden-phone"><a href="mailto:[[++primary_email]]" class="ico-envelope">[[++primary_email]]</a></li>
            <li><a class="ico-license">[[++license]]</a></li>
            <li class="quote"><a href="#quote" data-toggle="modal" class="quote ico-">Get More Info.</a></li>
        </ul>
    </div>
</div>