[[$doc_head]]
    <body>
        [[$header]]
        [[$intro-interior]]
        [[$quote-bar]]
        <section class="content">
            <div class="row-fluid wrap">
                <div class="span4">
                    <h2>[[*pagetitle]]</h2>
                [[Wayfinder? 
                &level=`0`
                &startId=`[[*id]]`
                &innerTpl=`nav_inner`
                &outerTpl=`nav-outer-list`
                &level=`1`
                &sortBy=`menuindex`
                ]]
                </div>
                <div class="span8">
                    [[*content]]
                </div>
               
            </div>
        </section>
        </section>
        [[$footer]]
        
        [[$doc_footer]]
