section {
	padding:4em 2em;
}

.about {
  .span4 {
    margin-bottom: 0em;
  }
}

.hero {
  padding:6em 2em;
  h1 {
    font-size: 50px;
  }
}



.home {
  .hero  {
    .slides li .slideContain{
    padding:5em 2em;
  }
    h1 {
      font-size: 30px;
    }
  }

  .content {
    padding: 0 2em;
    div.span4 {
      padding:0 20px 0 0;
      text-align:right;
      border-right: solid 1px $ultralight;
      h2 {
        padding:0 20px;
      }
      ul {
        li {
        padding:8px 20px;
        border-bottom:solid 1px $ultralight;
        border-left:solid 7px transparent;
        @include transition(.3s all);
          &:hover {
            border-color:$ultralight;
          }
          a {
            color:$primary;
          }
          &.active {
            border-left-color:$primary;
          }
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
    div {
      padding:2em 0;
      div[class*="span"] {
        padding:0;
        div {
          padding:0;
        }
      }
    }
  }
}


