// COLOR PALETTE
$primary: #444444;
$secondary: #f36523;
$hover: #505050;
$light:#808080;
$dark: #28272c;
$neutral: #acacac;
$highlight: #306DB1;
$ultralight: #e5e5e5;
$link: red;

/*SELECT STYLES */
$background: #ebebeb;
$select-color: $primary;
$select-background: #ebebeb;
$select-width: 100%;
$select-height: 60px; 
$modal-color:#494f53;
$select-background-modal: #494f53;


// FONT STACKS
$heading: 'Montserrat', sans-serif;
$body: 'Raleway', sans-serif;


